.navbar-scrolled {
    background-color: rgba(31, 41, 55, .8); /* Este es el color #1f2937 con algo de transparencia */
}
  /* Estilo para el enlace activo */
.active {
    color: #facc15;  /* Cambia este color al que desees para el enlace activo */
    font-weight: bold;
}
